%ul
	%li
		= link_to "Create new Host", new_user_host_path(@user)

- if @user.hosts.any?
	%h3
		Your Servers
	%ul
		- @user.hosts.each do |host|
			%li
				= host.name 
				= link_to "Edit Host", edit_user_host_path(@user,host)

		

